.name {
    text-align: center;
}
.contact {
    text-align: center;
    font-size: 13px;
}
body {
    padding: 10px;
    border: 10px;
    margin: 100px;
    font-family: sans-serif;
    line-height: 150%;
    background-color: aqua;
}
.date {
    font-size: 14px;
    padding-left: 100px;
}
img {
    text-align: center;
    height: 200px;
    width: 200px;
    padding-left: 510px;
}